.RNode {   
   @include prefix((
      border-radius: 15px,
      user-select: none
   ),webkit moz ms khtml);

   background-color: $light-green;
   color: $dark-grey;
   border: 1px solid $green;

   padding: 7px; 
   display: inline-block;
   position: absolute;
   z-index:20;

   &.root
   {
      background-color: $green;
      color: $white;
      padding: 8px;
      border: 0px solid $dark-green;
      z-index:30;
   }

   &.active
   {
      padding: 7px !important; 
      border: 2px solid $dark-green;
   }

   div {
      font-weight: 400;
       
      .drag {
         margin: 0px; 
         cursor: move;
      }

      .edit {
         background-color: $green;
         cursor: text;
      }
   }
}
