@import 'mixins';
// -------------------------- //
// --- Colors for the App --- //
// -------------------------- //
$green: #30B39A;
$light-green: #C3E9E2;
$dark-green: #009075;
$white: #F5F5F5;
$grey: #8B8B8B;
$light-grey: #E5E5E5;
$dark-grey: #404040;
$black: #272727;

// -------------------------- //
// --- Colors for the App --- //
// -------------------------- //
@include font-face("SSP", "/font/SourceSansPro-Light", 200, null, otf);
@include font-face("SSP", "/font/SourceSansPro-Regular", 400, null, otf);
@include font-face("SSP", "/font/SourceSansPro-Semibold", 600, null, otf);
@include font-face("SSP", "/font/SourceSansPro-Bold", 800, null, otf);
@include font-face("SSP", "/font/SourceSansPro-LightIt", 200, italic, otf);
@include font-face("SSP", "/font/SourceSansPro-It", 400, italic, otf);
@include font-face("SSP", "/font/SourceSansPro-SemiboldIt", 600, italic, otf);
@include font-face("SSP", "/font/SourceSansPro-BoldIt", 800, italic, otf);

// -------------------------- //
// ---- Component Styling --- //
// -------------------------- //

@import 'Node';
@import 'Board';
@import 'RightClickMenu';
@import 'BurgerMenu';

// -------------------------- //
// ------ Main Styling ------ //
// -------------------------- //

#app, #outer-container, .RBoard {
   height:100%;
   width: 100%;
}

body {
   font-family: "SSP";
   background-color: $light-grey;
   width:2500px;
   height: 1500px;
}

.jsplumb-connector { 
   display:none;
}

.jsplumb-endpoint { 
   z-index:1; 
}

.jsplumb-overlay { 
   z-index:3; 
}